<div id='navcontainer' style='width: 100%'>
  <ul id='navlist'>
    <li id='customersNavItem'><%= link_to "Customers", customers_path %></li>
    <li id='racketsNavItem'><%= link_to "Rackets", rackets_path %></li>
    <li id='tennisStringNavItem'><%= link_to "Strings", tennis_strings_path, :id => 'last_item' %></li>
  </ul>
</div>
